#contenedor {
    margin: 40px auto;
    width: 350px;  /* Ancho del contenedor */
box-sizing: border-box;
-moz-box-sizing: border-box;
}

input.tab-selector-1,input.tab-selector-2 {
height: 32px;
visibility: hidden;
}

input.myinput {
height: 15px;
text-align: center;
}

input.myinput-1{
	height: 13px;
	float: right;
}

#contenedor label {
float: left;
cursor: pointer;
font-size: 15px;  /* Tamaño del texto de las pestañas */
line-height: 40px;
height: 40px;
padding: 0 20px;
display: block;
color: #888;  /* Color del texto de las pestañas */
text-align: center;
border-radius: 5px 5px 0 0;
background: #eee;  /* Fondo de las pestañas */
margin-right: 5px;
}

#contenedor input.tab-selector-1:hover + label,
#contenedor input.tab-selector-2:hover + label {
background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
}

#contenedor input.tab-selector-1:checked + label,
#contenedor input.tab-selector-2:checked + label {
background: #D8D8D8;  /* Fondo de las pestañas al presionar */
color: #000000; /* Color de las pestañas al presionar */
z-index: 6;
line-height: 45px;
height: 45px;
position: relative;
top: -5px;
-webkit-transition: .1s;
-moz-transition: .1s;
-o-transition: .1s;
-ms-transition: .1s;
}

.content {
background: #D8D8D8;  /* Fondo del contenido */
position: relative;
width: 100%;
height: 160px;  /* Alto del contenido */
padding: 30px;
z-index: 5;
border-radius: 0 5px 5px 5px;
}

.content div {
position: absolute;
text-align: left;
z-index: -100;
opacity: 0;
transition: all linear 0.1s;
}

#contenedor input.tab-selector-1:checked ~ .content .content-1,
#contenedor input.tab-selector-2:checked ~ .content .content-2{
    z-index: 100;
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
-moz-transition: all ease-out 0.2s 0.1s;
-o-transition: all ease-out 0.2s 0.1s;
-ms-transition: all ease-out 0.2s 0.1s;
}